<div class="row">
    <h1 id="exp">EXPERIENCIA LABORAL</h1>
    <div class="col-lg-1"> </div>
    <div class=" col-lg-11">
        <ul>
            <li><h1>Integral Software: Desarrollador Web FullStack.</h1> - <h3>[actual ]</h3></li>
                <p>
                    Actividades: Desarrollo según lo requerido, Investigación y Desarrollo.
                    Colaboración activa con el Área de desarrollo / Atención al cliente y Testing en asistencia y entregas.
                </p>

                <li><h1>  Docente de música</h1> - <h3>[01/03/2022 - 01/06/2022]</h3></li>
                <p>

                Me desempeñé como docente de música de nivel secundario en una institución escolar. 
                Planificando diversas clases y modos de enseñar música, para luego hacerlo en la práctica de las mismas.

                </p>

                <li><h1>Casa de cultura</h1> - <h3>[2016-2017]</h3></li>
                <p>

                    trabajé como diseñador gráfico, en atención al cliente y tareas administrativas,
                     en la casa de la cultura de la ciudad de La Paz/Entre Rios.

                </p>


        </ul>
    </div>
</div>