<div class="row">
    <div class="container">
        
        <div class="logo">
            <img src="../../../assets/APlogo.png " alt="Logo Argentina Programa" id="logoAP">
        </div>
        <div class="redes">
            <a href=""> <img src="../../../assets/linkedinBlanco.png" alt="linkedin" id="linkedin"></a>
            <a href=""> <img src="../../../assets/gitBlanco.png" alt="GitHub" id="git"></a>
            <button type="button" class="btn btn-outline-light"> ENTRAR</button>
        </div>
    </div>
</div>