<div class="row">
    <h1>EDUCACIÓN</h1>
    <div class="col-lg-1"> </div>
    <div class=" col-lg-11">
        <ul>
            <li>
                <p> <span> Profesorado Universitario en Música </span></p>
            </li>

            <li>
                <p> <span> Programación full stack en Argentina programa.</span> </p>
            </li>

            <li>
                <p> <span> Programación Java full stack en Egg Educación </span> </p>
            </li>

            <li>
                <p> <span>Diseño y programación web en "actualizar 4.0"  </span>  </p>
            </li>

            <li>
                <p> <span>Html y css en FreeCodeCamp  </span> </p>
            </li>

            <li>
                <p> <span>Técnico en reparación de PC  </span> </p> 
            </li>

        </ul>
    </div>
</div>